body { 
	background: url("../img/background.jpg") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	margin:0; 
	font-family: 'Open Sans', sans-serif;
	color:#000;
}

.background-blur {
	background: url("../img/background-blurred.jpg") no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border:1px solid rgba(25, 23, 81, 0.15);
}


/******************************/
/********** CURRENT **********/
/****************************/
.container-current {
	margin-top:100px;
}

.current_temp {
	font-size:100px;
	font-weight: 300;
}
.current_weather_icon {
	font-size:120px;
}
.weather_beschrijving {
    font-size:30px;
    font-weight: 300;
}
.weather_beschrijving:first-letter {
	text-transform: uppercase;
}






/******************************/
/********** FORECAST *********/
/****************************/
.container-forecast {
	margin-top:20px;
}

.forecast_week {
	margin-bottom:10px;
}
