html, body { 
    height: 100%; 
    padding:0;
    margin:0; 
}

/* Todo:  Lettertype, achtergrond */

.sidebar {
	min-height:300px;
	margin-left:auto;
	margin-right:auto;
}

.sidebar h2 {
    color:#f37d27;
}
