<!<!DOCTYPE html>
<html ng-app="WeatherApp">
<head>
	<title>WeatherApp</title>

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,600italic,400italic,300italic,700,700italic,800italic,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/weather-icons.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<script src="lib/jquery.min.js"></script>
	<script src="lib/angular/angular.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/ng-openweathermap.js"></script>

	<script src="js/controllers.js"></script>
	<script src="js/app.js"></script>
</head>
<body> 
	<div class="container" ng-controller="weatherCtrl">

		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 container-current background-blur container-border">

				<div class="row">
					<div class="col-sm-12">
						<h1>Weer in <b>{{now.name}}, {{now.sys.country}}</b></h1> 
					</div>
				</div>

				<div class="row">
					<!-- Huidige temp -->
					<div class="col-sm-8 current_temp ">
						{{now.main.temp | number:1}}&deg;  
						<owm-icon id="{{now.weather[0].id}}" class="current_weather_icon"></owm-icon>
					</div>

					<!-- Details van nu -->
					<div class="col-sm-4 now-details">
						<h2>Details</h2>
						Luchtvochtigheid: {{now.main.humidity}}% <br>
						Wolken: {{now.clouds.all}}% <br>
						Min temp: {{now.main.temp_min}}&deg; <br>
						Max temp: {{now.main.temp_max}}&deg; <br>
					</div >
				</div>

				<div class="row">
					<!-- Beschrijving -->
					<div class="col-sm-12 weather_beschrijving">
						{{now.weather[0].description}} <br>
						<hr>
					</div>

					<!-- Details van komende uren -->
					<div class="col-sm-12">
						<div class="forecast_week col-xs-2"  ng-repeat="(listkey, listarray) in weather5.list | limitTo:6">
							<div ng-init="hourlyforecast = weather5.list[listkey]">
								<p><b>{{hourlyforecast.dt * 1000 | date:'HH:mm'}} </b></p>
								<p><owm-icon id="{{hourlyforecast.weather[0].id}}"></owm-icon> </p>
								<p>{{hourlyforecast.main.temp | number:0}}&deg; </p>
								<p>{{hourlyforecast.weather[0].description}} </p>
							</div>
						</div>
					</div >

				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 container-forecast background-blur container-border">
				<h2>Voorspelling</h2> 
				<!-- weather16 = -->
				<div class="forecast_week col-xs-2 " ng-repeat="day in weather16.list | limitTo:7" ng-if="$index > 0">
					<p><b>{{day.dt * 1000 | date:'EEEE d'}} </b></p>
					<p><owm-icon id="{{day.weather[0].id}}"></owm-icon> </p>
					<p>{{day.temp.day | number:0}}&deg; </p>
					<p>{{day.weather[0].description}} </p>
				</div>
			</div>
		</div>

		<!-- weather5 = 5d / 3h -->
		<!--
		<ul>
			<li ng-repeat="(listkey, listarray) in weather5.list"  ng-if="$index > 0">
				<ul>
					<li ng-repeat="(item, value) in weather5.list[listkey]">
						{{item}} - {{value}}
					</li>
				</ul>
			</li>
		</ul>
		-->

	</div>
</body>
</html>